{{- $age_private_key := promptStringOnce . "private_key_path"
    "Where is your age private key"
    (joinPath .chezmoi.homeDir ".config/chezmoi/key.txt") -}}

{{ if env "CHEZMOI_SOURCE_DIR" -}}
sourceDir = {{ env "CHEZMOI_SOURCE_DIR" | quote }}
{{- end }}

encryption = "age"

{{ if stat $age_private_key -}}
{{- $age_public_key :=  regexFind "age1[0-9a-z]+" (include $age_private_key) -}}
[age]
identity = {{ $age_private_key | quote }}
recipient = {{ $age_public_key | quote }}
{{- end }}

[data]
hasAgePrivateKey = {{ if stat $age_private_key }}true{{ else }}false{{ end }}
