include "/etc/niri/config.kdl"

spawn-at-startup "tray-launch" "flatpak" "run" "--command=signal-desktop" "org.signal.Signal"
spawn-at-startup "tray-launch" "flatpak" "run" "--command=Telegram" "org.telegram.desktop" "-autostart"
spawn-at-startup "tray-launch" "flatpak" "run" "dev.vencord.Vesktop" "--start-minimized"
spawn-at-startup "tray-launch" "flatpak" "run" "--command=SyncThingy" "com.github.zocker_160.SyncThingy"
spawn-at-startup "tray-launch" "flatpak" "run" "--command=cryptomator" "org.cryptomator.Cryptomator"

screenshot-path null

hotkey-overlay {
  skip-at-startup
}

input {
  keyboard {
    xkb { layout "pt"; }
  }
}

output "DP-1" {
  scale 2.0
}

layout {
  preset-column-widths {
    proportion 0.5
    proportion 0.66667
    proportion 0.33333
    proportion 0.725
  }

// TODO: move to system-wide config

  focus-ring {
    width 1
    active-gradient from="#313244" to="#45475a" angle=90
  }
}

gestures {
  hot-corners {
    off
  }
}

window-rule {
  match app-id="spotify"
  open-maximized true
}

window-rule {
  match app-id="obsidian"
  open-maximized true
}

window-rule {
  match app-id="code"
  open-maximized true
}

window-rule {
  match title="^Picture-in-picture$"
  open-floating true
  default-column-width { fixed 480; }
  default-window-height { fixed 270; }
  default-floating-position x=16 y=16 relative-to="bottom-right"
}

binds {
  Mod+B repeat=false { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "bar" "toggle"; }
  // replaces Mod+Page_Down and Mod+Page_Up
  Mod+Ctrl+Down { focus-workspace-down; }
  Mod+Ctrl+Up { focus-workspace-up; }
  // replaces corresponding with cooldown
  Mod+Ctrl+WheelScrollDown cooldown-ms=200 { focus-workspace-down; }
  Mod+Ctrl+WheelScrollUp cooldown-ms=200 { focus-workspace-up; }
}
