include "/etc/niri/config.kdl"

spawn-at-startup "tray-launch" "flatpak" "run" "--command=signal-desktop" "org.signal.Signal"
spawn-at-startup "tray-launch" "flatpak" "run" "--command=Telegram" "org.telegram.desktop" "-autostart"
spawn-at-startup "tray-launch" "flatpak" "run" "dev.vencord.Vesktop" "--start-minimized"
spawn-at-startup "tray-launch" "flatpak" "run" "--command=SyncThingy" "com.github.zocker_160.SyncThingy"
spawn-at-startup "tray-launch" "flatpak" "run" "--command=cryptomator" "org.cryptomator.Cryptomator"

screenshot-path null

hotkey-overlay {
  skip-at-startup
}

input {
  keyboard {
    xkb { layout "pt"; }
  }
}

output "DP-1" {
  scale 2.0
}

layout {
  preset-column-widths {
    proportion 0.5
    proportion 0.66667
    proportion 0.33333
    proportion 0.725
  }
}

// TODO: Move to system-wide.

window-rule {
  match is-floating=true
  shadow { on; }
}

window-rule {
  match app-id="net.lutris.Lutris"
  open-maximized true
}

window-rule {
  match app-id="vesktop"
  open-maximized true
}

window-rule {
  match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
  default-floating-position x=-266 y=16 relative-to="top-right"
}
